<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{{ "ElastiCar" }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
    {% endblock %}
    {% block canonical_meta %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('homepage') }}">ElastiCar Logo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% block menu %}{% endblock %}
            </ul>
            <form id="loginForm" class="form-inline navbar-form navbar-right" style="display:none;">
                <a href="{{ path('homepage') }}connect/facebook" onclick="logIn()" class="btn btn-find btn-success" >Facebook</a>
            </form>
            <div id="loggedIn" class="form-inline navbar-form navbar-right" style="display:none;" >
                <a href="#" class="btn btn-find btn-success">Labas!</a>
            </div>
            <form class="form-inline navbar-form navbar-right">
                <input class="form-control" type="text" placeholder="Volvo S60 2003m..">
                <button class="btn btn-success" type="submit">Paieška</button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% block newest %}

{% endblock %}


<div class="container marketing">
    {% block container %}
        {% block header %}
            {% include "::inc/header.html.twig" %}
        {% endblock %}
        {% block body %}{% endblock %}
    {% endblock %}
    {% block footer %}
        {% include "::inc/footer.html.twig" %}
    {% endblock %}
</div>

{% block javascripts %}
    <script src="{{ asset('js/script.js') }}"></script>
    <script>
        $(document).ready(function (){

           if (isLoggedIn()){
               $('#loginForm').hide();
               $('#loggedIn').show();
           } else {
               $('#loginForm').show();
               $('#loggedIn').hide();
           }

        });

        function logIn(){
            console.log('set item');
            localStorage.setItem('loggedIn', true);
        }

        function isLoggedIn(){
            let status = localStorage.getItem('loggedIn');
            console.log(status);
            return status;
        }
    </script>
{% endblock %}
</body>
</html>