{% extends "::base.html.twig" %}

{% block title %}Pradzia - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block menu %}
    <li class="active"><a href="{{ path('homepage') }}">Pradžia</a></li>
    <li><a href="{{ path('about') }}">Apie</a></li>
    <li><a href="{{ path('admin_index') }}">Admin</a></li>
{% endblock %}

{% block newest %}
    <!-- Carousel
        ================================================== -->

{% endblock %}

{% block container %}
    {% for i in 0..5 %}
        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{ asset('images/audi.jpg') }}">
                        <img src="{{ asset('images/audi.jpg') }}" alt="Audi">
                        <div class="caption">
                            <p>Audi (1234)</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{ asset('images/bmw.jpg') }}">
                        <img src="{{ asset('images/bmw.jpg') }}" alt="BMW">
                        <div class="caption">
                            <p>BMW (2345)</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{{ asset('images/ford.jpg') }}">
                        <img src="{{ asset('images/ford.jpg') }}" alt="Ford">
                        <div class="caption">
                            <p>Ford (2345)</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    {% endfor %}

{% endblock %}