<div class="row providers-info text-center">
    <h1>Raskite geriausią automobilį Lietuvoje.</h1>
    <p>Mes palyginsime skelbimus iš visų didžiausių automobilių skelbimų svetainių, įskaitant šias:</p>
</div>

<div class="row providers text-center">
    <div class="col-md-12">
        <img src="{{ asset('images/web_logo/autogidas.svg') }}" alt="Autogidas.lt"/>
        <img src="{{ asset('images/web_logo/autoplius.svg') }}" alt="Autoplius.lt"/>
        <img src="{{ asset('images/web_logo/automobilis.png') }}" alt="Automobilis.lt"/>
        <img src="{{ asset('images/web_logo/autobilis.png') }}" alt="Autobilis.lt"/>
    </div>
    <div class="col-md-12">
        <img src="{{ asset('images/web_logo/autotaurage.jpg') }}" alt="Autotaurage.lt"/>
        <img src="{{ asset('images/web_logo/autopagunda.png') }}" alt="Autopagunda.lt"/>
        <img src="{{ asset('images/web_logo/autotuk.jpg') }}" alt="Autotuk.lt"/>
        <img src="{{ asset('images/web_logo/rinka.png') }}" alt="rinka.lt"/>
    </div>
</div>

<hr/>

<div class="row most-popular">
    <p>Populiariausios automobilių markės:</p>
    <div class="row">

        <div class="col-md-3 over">
            <div class="most-popular_thumbnail">
                <a href="{{ asset('images/bmw.png') }}">
                    <img src="{{ asset('images/bmw.png') }}" alt="BMW">
                    <div class="caption text-center">
                        <p>BMW <span class="most-popular_thumbnail--count">(35,798)</span></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3 over">
            <div class="most-popular_thumbnail">
                <a href="{{ asset('images/audi.png') }}">
                    <img src="{{ asset('images/audi.png') }}" alt="BMW">
                    <div class="caption text-center">
                        <p>AUDI <span class="most-popular_thumbnail--count">(28,558)</span></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3 over">
            <div class="most-popular_thumbnail">
                <a href="{{ asset('images/ford.png') }}">
                    <img src="{{ asset('images/ford.png') }}" alt="BMW">
                    <div class="caption text-center">
                        <p>FORD <span class="most-popular_thumbnail--count">(21,677)</span></p>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-3 over">
            <div class="most-popular_thumbnail">
                <a href="{{ asset('images/vw.png') }}">
                    <img src="{{ asset('images/vw.png') }}" alt="BMW">
                    <div class="caption text-center">
                        <p>VOLKSWAGEN <span class="most-popular_thumbnail--count">(15,710)</span></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>