<section class="home-banner">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="car-info">
                    <h1>{{  'find_out_first'|trans }}</h1>
                    <h2>{{ 'find'|trans }} <span>{{ 'best_car'|trans }}</span></h2>
                    <p>{{  'informed_email'|trans }}</p>
                    <a href="#" class="btn btn-primary">{{ 'how_it_work'|trans }}</a>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div class="contact-form">
                    <h1>{{ 'find_car'|trans }}</h1>
                    <div class="contact-info">
                        <form action="#">
                            <h3>{{ 'brand'|trans }}</h3>
                            <div class="dropdown category-dropdown" id="dropdown-brand">
                                <a data-toggle="dropdown" href="#" aria-expanded="false">
                                    <span class="change-text" id="dropdown-current-brand-text" data-value="">{{ 'select'|trans }}</span>
                                    <i class="glyphicon glyphicon-chevron-down dropdown-icon"></i>
                                </a>
                                <ul class="dropdown-menu category-change">
                                    {% for brand in brands %}
                                        <li class="dropdown-item" id="dropdown-brand-item" data-value="{{ brand.brandId }}" data-name="{{ brand.title }}"><a href="#">{{ brand.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <h3>{{ 'model'|trans }}</h3>
                            <div class="dropdown category-dropdown" id="dropdown-model">
                                <a data-toggle="dropdown" href="#" aria-expanded="false">
                                    <span class="change-text" id="dropdown-current-model-text" data-value="">{{ 'select'|trans }}</span>
                                    <i class="glyphicon glyphicon-chevron-down dropdown-icon"></i>
                                </a>
                                <ul class="dropdown-menu category-change" id="dropdown-model-ul">

                                </ul>
                            </div>
                            <h3>{{ 'year'|trans }}</h3>
                            <div class="row">
                                <div class="col-md-6 col-sm-12">
                                    <div class="dropdown category-dropdown">
                                        <a data-toggle="dropdown" href="#" aria-expanded="false">
                                            <span class="change-text">1990</span>
                                            <i class="glyphicon glyphicon-chevron-down dropdown-icon"></i>
                                        </a>
                                        <ul class="dropdown-menu category-change">
                                            <li><a href="#">1990</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    <div class="dropdown category-dropdown">
                                        <a data-toggle="dropdown" href="#" aria-expanded="false">
                                            <span class="change-text">2005</span>
                                            <i class="glyphicon glyphicon-chevron-down dropdown-icon"></i>
                                        </a>
                                        <ul class="dropdown-menu category-change">
                                            <li><a href="#">2005</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="form-control" id="search-submit" value="{{ 'next'|trans }}">{{ 'next'|trans }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>
