<section class="home-banner">
    <div class="banner-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="car-info">
                    <h1>{{  'find_out_first'|trans }}</h1>
                    <h2>{{ 'find'|trans }} <span>{{ 'best_car'|trans }}</span></h2>
                    <p>{{  'informed_email'|trans }}</p>
                    <a href="#" class="btn btn-primary">{{ 'how_it_work'|trans }}</a>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <div class="contact-form">
                    <h1>{{ 'find_car'|trans }}</h1>
                    <div class="contact-info">
                        <form action="#">
                            {% include '@App/Home/Components/SearchBox/brand.html.twig' with {'brands': brands} %}
                            {% include '@App/Home/Components/SearchBox/model.html.twig' %}
                            {% include '@App/Home/Components/SearchBox/year.html.twig' %}
                            <button type="submit" class="form-control" id="search-submit" value="{{ 'next'|trans }}">{{ 'next'|trans }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</section>
