{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/admin-min.js') }}"></script>

    {{ parent() }}
{% endblock %}

{% block avanzu_logo %}
    <a href="{{ path('admin_index') }}" class="logo">
        {{ 'Admin CP'|trans }}
    </a>
{% endblock %}

{% block avanzu_sidebar %}
    {{ parent() }}

    {% include '@App/Admin/sidebar.html.twig' %}
{% endblock %}