{% extends 'admin_base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/admin-min.js') }}"></script>

    {{ parent() }}
{% endblock %}

{% block logo %}
    <a href="{{ path('admin_dashboard') }}" class="logo">
        {{ 'Admin CP'|trans }}
    </a>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include '@App/Admin/sidebar.html.twig' %}
{% endblock %}