<ul class="sidebar-menu">
    <li>
        <a href="{{ path('admin_dashboard') }}">
            <i class="fa fa-dashboard"></i> <span>{{ 'Dashboard'|trans }}</span>
        </a>
    </li>
    <li>
        <a href="{{ path('admin_filters') }}">
            <i class="fa fa-filter"></i> <span>{{ 'Filters'|trans }}</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>{{ 'Stats'|trans }}</span>
            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('admin_stats_visitors') }}"><i class="fa fa-circle-o"></i> {{ 'Visitors'|trans }}</a></li>
            <li><a href="{{ path('admin_stats_crawler') }}"><i class="fa fa-circle-o"></i> {{ 'Crawler'|trans }}</a></li>
        </ul>
    </li>
    <li>
        <a href="{{ path('admin_settings') }}">
            <i class="fa fa-cog"></i> <span>{{ 'Settings'|trans }}</span>
        </a>
    </li>

</ul>