<ul class="sidebar-menu">
    <li>
        <a href="{{ path('admin_dashboard') }}">
            <i class="fa fa-dashboard"></i> <span>Pradinis</span>
        </a>
    </li>
    <li>
        <a href="{{ path('admin_filters') }}">
            <i class="fa fa-filter"></i> <span>Filtrai</span>
        </a>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bar-chart-o"></i>
            <span>Statistika</span>
            <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('admin_stats_visitors') }}"><i class="fa fa-circle-o"></i> Lankytojai</a></li>
            <li><a href="{{ path('admin_stats_crawler') }}"><i class="fa fa-circle-o"></i> Crawleris</a></li>
        </ul>
    </li>
    <li>
        <a href="{{ path('admin_settings') }}">
            <i class="fa fa-cog"></i> <span>Nustatymai</span>
        </a>
    </li>

</ul>